body {
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: black;
  font-family: "Determination Mono", sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
