body {
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: black;
  font-family: "Determination Mono", sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.font-1 {
  font-family: "Determination Mono", monospace;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

.BUTTON_QHB {
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
   color: #FFFFFF;
   font-family: "Determination Mono", sans-serif;
   font-size: 40px;
   font-weight: 500;
   padding: 20px;
   background-color: #0F32DF;
   box-shadow: 1px 1px 20px 0px #112793;
   -webkit-box-shadow: 1px 1px 20px 0px #112793;
   -moz-box-shadow: 1px 1px 20px 0px #112793;
   border: solid #0F32DF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_QHB:hover {
   background: #08239D;
   border: solid #08239D 1px;
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
   text-decoration: none;
}

.discord-logo {
  background-image: url('images/Discord_logo.png');
}

.icone {
  height: 1em;
  width: 1.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle
}
