{% load static %}
<head>
  <title>Grador serveur Minecraft</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
  <link rel="stylesheet" type="text/css" href="https://cartr.gitlab.io/undertale-fonts/webfonts/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
  <img class="center" src="{% static "images/logo.png" %}" height="400" width="400"/>
  <h1 class="center">
    <font class="font-1" color="#FFFB01">Bienvenue sur le site de Grador notre site est encore en dévelopement alors soyez indulgent :)</font>
  </h1>
  <h2>
    État du serveur : <font color="{{ server.color }}"><strong>{{ server.status }}</strong></font>
    <br>
    Joueurs en lignes : <span>{{ server.players.now }}</span> / <span>{{ server.players.max }}</span>
  </h2>
  <h1>
   <div style="position:relative; height:400px">
    <div style="position:absolute;z-index:1">
     <img width="100%" src="{% static "images/Savane-en-beau.png" %}">
     </div>
     <div style="position:absolute;top:200px; width:600px; height:400px; z-index:2;font-size:200%">
      <center><b><font color="#FFC902" class="center">Rejoignez nous sur play.Grador.fr ou .fun en 1.15.2</font></b></center>
</div>
</h1>
  <div class="row" style="position:relative;top:400px">
    <div class="column">
      <h1 class="center">
        <font color="#01AEFF">
          Notre développeur développe...
          <br>un super&nbsp;<font color="#FFFB01">Launcher !</font>
        </font>
      </h1>
      <div class="iframe-container">
        <iframe allowtransparency="true" src="//scratch.mit.edu/projects/embed/360634678/?autostart=false" allowfullscreen></iframe>
      </div>
    </div>
    <div class="column">
      <h1 class="center">
        <br>
        <font color="#01AEFF">Grador offical trailer</font>
      </h1>
      <div class="iframe-container">
        <iframe id="ytplayer" type="text/html" src="http://www.youtube.com/embed/gFvC0krpj78?autoplay=0&origin=http://grador.fr&"></iframe>
      </div>
    </div>
  </div>
  <h1>
    <div style="position:relative; height:400px; top:378px">
    <div style="position:absolute;z-index:1">
      <img width="1425  " src="{% static "images/background-discord.png" %}">
    </div>
    <div style="position:absolute;top:100px; left:400px; z-index:2;font-size:100%" class="center">
      <a href="https://discord.gg/ENJNA9t" target="_blank" class="BUTTON_QHB">
        <i class="icone discord-logo"></i>
        Rejoignez notre serveur discord
        <br>
      </a>
    </div>
  </h1>
</body>
