{% load static %}
<head>
  <title>Grador serveur Minecraft</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
  <link rel="stylesheet" type="text/css" href="https://cartr.gitlab.io/undertale-fonts/webfonts/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
  <img class="center" src="{% static "images/logo.png" %}" height="200" width="200"/>
  <h1>
    État du serveur : <strong id="online">{{ server.status }}</strong>
    <br>
    Joueurs en lignes : <span id="ponline">{{ server.players.now }}</span> / <span id="max">{{ server.players.max }}</span>
  </h1>
</body>
